flex()
  display flex
.flex-center
  flex()
  align-items center
  justify-content center
.flex-middle
  flex()
  flex-direction align
  justify-content center
mgLeft(val)
  margin-left val
