*
  -webkit-tap-highlight-color transparent
html
  font-size 20px
  -webkit-font-smoothing antialiased
body
  margin 0
  font-size 24px
  line-height 1.5
  font-family -apple-system, 'Helvetica Neue', 'Arial', 'PingFang SC', 'Hiragino Sans GB', 'STHeiti', 'Microsoft YaHei', 'Microsoft JhengHei', 'Source Han Sans SC', 'Noto Sans CJK SC', 'Source Han Sans CN', 'Noto Sans SC', 'Source Han Sans TC', 'Noto Sans CJK TC', 'WenQuanYi Micro Hei', SimSun, sans-serif
p, h1, h2, h3, h4, h5
  margin-top 0
  margin-bottom 0
ul
  margin 0
  padding 0
  list-style none
#app
  height 100%
  position relative
*
  box-sizing border-box
img
  content normal !important
a
  text-decoration none
  color inherit
[v-cloak]
  display none
.text-left
  text-align left
.text-right
  text-align right
.text-center
  text-align center
